<div class="header">
  <div class="logo"></div>
</div>

<nav id="navbar">
  <a href="#services">Services</a>
  <a href="#packages">Packages</a>
  <a href="#gallery">Gallery</a>
  <a href="#our-story">Our Story</a>
  <a href="#contact-us">Contact Us</a>
</nav>

<div class="content">

  <% flash.each do |key, value| %>
    <div class="flash-message <%= key %>"><%= value %></div>
  <% end %>

  <div id="services" class="services section">
<!--    <p class="section-header"><span>Services</span></p>-->
    <div class="section-header"></div>

    <div class="column">
      <p class="services-info">
        We cater and design dessert and candy buffets for all occasions.
        We specialize in Weddings, Birthday Parties, Quinceaneras, Bridal and Baby Showers,
        you name it! From design consultation, set up, cleanup and take down;
        we'll make your party planning easier than ever. We also offer custom made cakes
        created with love in Orlando.
      </p>
    </div>
  </div>

  <div id="packages" class="packages section">
<!--    <p class="section-header"><span>Packages</span></p>-->
    <div class="section-header"></div>

    <div class="border">
      <h1 class="package-title">Dessert Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Petit Sucre</h3>
          <p>Up to 5 desserts</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Mig Sucre</h3>
          <p>Up to 8 desserts</p>
          <p>Starting at $400</p>
        </div>

        <div class="package-info">
          <h3>Gran Sucre</h3>
          <p>Up to 10 desserts</p>
          <p>Starting at $450</p>
        </div>
      </div>
    </div>


    <div class="border">
      <h1 class="package-title">Candy Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Somni Caramel</h3>
          <p>Up to 6 candies</p>
          <p>Starting at $225</p>
        </div>

        <div class="package-info">
          <h3>Fantasia Caramel</h3>
          <p>Up to 8 candies</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Realitat Caramel</h3>
          <p>Up to 10 candies</p>
          <p>Starting at $350</p>
        </div>
      </div>
    </div>

    <div class="border">
      <h1 class="package-title">Candy & Dessert Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Dolce Tentació</h3>
          <p>4 candies and 3 desserts</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Dolce Delicte</h3>
          <p>6 candies and 5 desserts</p>
          <p>Starting at $350</p>
        </div>

        <div class="package-info">
          <h3>Dolce Pecat</h3>
          <p>8 candies and 7 desserts</p>
          <p>Starting at $400</p>
        </div>
      </div>
    </div>

    <div class="border">
      <h1 class="package-title">Cake Base Prices</h1>
      <p class="package-subtitle">Round | Square (Buttercream icing only)</p>

      <div class="column">
        <div class="package-info">
          <h3>6"</h3>
          <p>8 - 10 Servings</p>
          <p>$25</p>
        </div>

        <div class="package-info">
          <h3>8"</h3>
          <p>10 - 12 Servings</p>
          <p>$35</p>
        </div>

        <div class="package-info">
          <h3>10"</h3>
          <p>15 - 20 Servings</p>
          <p>$45</p>
        </div>
      </div>

      <div class="column">
        <div class="package-info">
          <h3>12"</h3>
          <p>25 - 35 Servings</p>
          <p>$55</p>
        </div>

        <div class="package-info">
          <h3>14"</h3>
          <p>40 - 50 Servings</p>
          <p>$65</p>
        </div>
      </div>
    </div>

    <div class="border">
      <h1 class="package-title">Tiered Cakes</h1>
      <p class="package-subtitle">$3.50/serving with buttercream icing</p>
      <p class="package-subtitle">$4.50/serving with fondant</p>

      <div class="column">
        <div class="package-info">
          <h3>Two Tiers</h3>
          <p>30 Servings - 6", 10"</p>
          <p>50 Servings - 8", 12"</p>
        </div>

        <div class="package-info">
          <h3>Three Tiers</h3>
          <p>65 Servings - 6", 8", 10"</p>
          <p>75 Servings - 6", 8", 12"</p>
          <p>100 Servings - 6", 10", 14"</p>
        </div>
      </div>
    </div>
  </div>

  <div id="gallery" class="gallery section">
<!--    <p class="section-header"><span>Gallery</span></p>-->
    <div class="section-header"></div>

    <div class="column">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div id="our-story" class="our-story section">
<!--    <p class="section-header"><span>Our Story</span></p>-->
    <div class="section-header"></div>

<!--    <div class="column">-->
<!--      <p class="first-text">-->
<!--        Dolent Caramel Company was started by a mother and daughter duo, both with a passion for serving others and-->
<!--        creating displays to meet the visions of their customers and their names are Maria (mom) and Cristina-->
<!--        (daughter). They focus on details and precision and with care and passion they bring a theme to life for each-->
<!--        and every one of their customers. Maria was a teacher for over 10 years and now dedicates all of her time to-->
<!--        Dolent Caramel by taking care of all things craft. Maria is the wizard behind all the decorations, labels,-->
<!--        backdrops, and displays. Cristina graduated from college in 2017 with a Baking and Pastry degree and works full-->
<!--        time as a Pastry Cook. Cristina is the creator of all the desserts Dolent Caramel has to offer and with the help-->
<!--        of each other they make things possible. This company offers a wide variety of the candies we know and trending-->
<!--        desserts such as macaroons, cake pops, and cupcakes.-->
<!--      </p>-->
<!--      <div class="story-image"></div>-->
<!--    </div>-->
    <div class="text-container">
      <div class="story-image"></div>
      <p>
        Dolent Caramel Company was started by a mother and daughter duo, both with a passion for serving others and
        creating displays to meet the visions of their customers and their names are Maria (mom) and Cristina
        (daughter). They focus on details and precision and with care and passion they bring a theme to life for each
        and every one of their customers. Maria was a teacher for over 10 years and now dedicates all of her time to
        Dolent Caramel by taking care of all things craft. Maria is the wizard behind all the decorations, labels,
        backdrops, and displays. Cristina graduated from college in 2017 with a Baking and Pastry degree and works full
        time as a Pastry Cook. Cristina is the creator of all the desserts Dolent Caramel has to offer and with the help
        of each other they make things possible. This company offers a wide variety of the candies we know and trending
        desserts such as macaroons, cake pops, and cupcakes.
        <br/>
        <br/>
        Now you may be wondering where the name “Dolent Caramel Company” comes from. Well I am here to tell you a
        little back story about it. Maria was originally born in Barcelona, Spain where they speak Catalan and Dolent
        Caramel is in that language. It means “evil candy” and before you run away because of the word evil, let me
        explain. This mother and daughter duo are obsessed with all things Disney, so the “evil” comes from Maria’s love
        for all the disney villains. They combined Maria’s native language and her love for the villains to create a
        unique word, dolent. The second word, caramel, as I said before means candy and well it made sense to use it
        because this business revolves around sweets and candies, Cristina’s passion. In a way Dolent is dedicated to
        Maria and Caramel is dedicated to Cristina coming together to create the name that makes us unique, Dolent
        Caramel Company.
        <br/>
        <br/>
        Dolent Caramel promises to make your dream come true and we are only one email, phone call, or message away. So
        do not be afraid to contact us for your next party, wether it is a birthday party, a wedding, or a baby shower
        etc. Maria and Cristina are here for YOU!  Allow Dolent Caramel Co. to make your next event a SWEET one and a
        party your guests will never forget.
      </p>
    </div>
  </div>


  <div id="contact-us" class="contact_us section">
<!--    <p class="section-header"><span>Contact Us</span></p>-->
    <div class="section-header"></div>

    <div>
      <div class="contact-section">
        <%= form_for(:contact, url: contact_path, method: :post) do |f| %>
          <%= f.text_field(:name, placeholder: "Name") %>
          <%= f.text_field(:email, placeholder: "Email") %>
          <%= f.text_area(:message, placeholder: "Message") %>
          <%= f.submit("Contact Us", class: "submit") %>
          <%= recaptcha_v3(action: "contact") %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="orlando" class="orlando">
  </div>
</div>
<footer>
  <p>Dolent Caramel Co. © <%= Date.today.year %></p>
</footer>
