<div class="header">
  <div class="logo"></div>
</div>

<h1 class="company-name">Dolent Caramel Co.</h1>

<nav id="navbar">
  <a href="#services">Services</a>
  <a href="#packages">Packages</a>
  <a href="#our-story">Our Story</a>
  <a href="#contact-us">Contact Us</a>
</nav>

<div class="content">
  <div id="services" class="services section">
    <p class="section-header"><span>Services</span></p>

    <div class="column">
      <p class="services-info">
        We cater and design desert and candy buffets for all occasions.
        We specialize in Weddings, Birthday Parties, Quinceaneras, Bridal and Baby Showers,
        you name it! From design consultation, set up, cleanup and take down;
        we'll make your party planning easier than ever. We also offer custom made cakes
        created with love in Orlando.
      </p>
    </div>
  </div>

  <div id="packages" class="packages section">
    <p class="section-header"><span>Packages</span></p>

    <div class="border">
      <h1 class="package-title">Dessert Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Petit Sucre</h3>
          <p>Up to 5 desserts</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Mig Sucre</h3>
          <p>Up to 8 desserts</p>
          <p>Starting at $400</p>
        </div>

        <div class="package-info">
          <h3>Gran Sucre</h3>
          <p>Up to 10 desserts</p>
          <p>Starting at $450</p>
        </div>
      </div>
    </div>


    <div class="border">
      <h1 class="package-title">Candy Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Somni Caramel</h3>
          <p>Up to 6 candies</p>
          <p>Starting at $225</p>
        </div>

        <div class="package-info">
          <h3>Fantasia Caramel</h3>
          <p>Up to 8 candies</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Realitat Caramel</h3>
          <p>Up to 10 candies</p>
          <p>Starting at $350</p>
        </div>
      </div>
    </div>

    <div class="border">
      <h1 class="package-title">Candy & Dessert Tables</h1>
      <p class="package-subtitle">25 Guest Minimum</p>

      <div class="column">
        <div class="package-info">
          <h3>Dolce Tentació</h3>
          <p>4 candies and 3 desserts</p>
          <p>Starting at $300</p>
        </div>

        <div class="package-info">
          <h3>Dolce Delicte</h3>
          <p>6 candies and 5 desserts</p>
          <p>Starting at $350</p>
        </div>

        <div class="package-info">
          <h3>Dolce Pecat</h3>
          <p>8 candies and 7 desserts</p>
          <p>Starting at $400</p>
        </div>
      </div>
    </div>
  </div>

  <div id="our-story" class="packages section">
    <p class="section-header"><span>Our Story</span></p>

    <div class="column">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ut mi et ante vehicula commodo vitae vitae mi.
        Proin sit amet aliquam dolor. In quis cursus dolor, ut suscipit libero.
        Donec convallis finibus diam, ut finibus purus auctor id.
        Cras commodo tellus sed ex mollis, sed congue libero rhoncus.
        Maecenas eget nunc maximus, vehicula justo non, euismod lorem.
        Sed in odio commodo mi efficitur convallis. Phasellus efficitur dictum hendrerit.
        Vestibulum id faucibus mauris. Nam interdum feugiat orci id vehicula.
      </p>
    </div>
  </div>


  <div id="contact-us" class="packages section">
    <p class="section-header"><span>Contact Us</span></p>

    <div>
      <div class="contact-section">
        <%= form_for(:contact, url: contact_path, method: :post) do |f| %>
          <%= f.text_field(:name, placeholder: "Name") %>
          <%= f.text_field(:email, placeholder: "Email") %>
          <%= f.text_area(:message, placeholder: "Message") %>
          <%= f.submit("Contact Us", class: "submit") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
